
.container{margin-left:20%;}
h1{background-color: lightskyblue;
   color:black;
   text-align:center;
}
table{
margin-left:200px;
margin-right:200px;
border-collapse:collapse;
width:80%;}
table,td,th{border:2px solid lightskyblue;}
.btn{background-color:rgb(14, 66, 64);
color:black;
width:150px;
height:50px;
border-radius: 8px;;
font-size: 15px;}
