<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width,intial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'student/css/studentdashboardmarksviewmarks.css' %}">
</head>
<body>
    {% include 'student/studentnavbar.html' with student=request.user.student %}
    <div class="container">
        <h1>Avaliable Courses</h1>
        <table>
  <tr>
    <th>Course</th>
    <th>Number of Attempts</th>
    <th>Exam Date</th>
    <th>Total Marks</th>
  </tr>
  {% for result  in results %}
  
    <tr>
      <tr align="center" >
        <td>{{result.exam}}</td>
        <td>Attempt {{ forloop.counter }}</td>
        <td> {{result.date}}</td>
        <td>{{result.marks}}</td>
        
    </tr>
  {% endfor %} 
</table>
    </div>
    </body>
</html