<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width,intial-scale=1.o">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
        
    </head>
    <body>
        {% include 'core/homenavbar.html' %}
        <div>
        <h1>Online examination system</h1>
        <h2>Attend your examinations online!</h2>
        <h3>Sign up to start your online examination</h3>
        <h4>Start your journey here:</h4>
        </div>
    </body>
</html>
