
.container{margin-left:20%;}
        h1{background-color: lightskyblue;
           color:black;
           text-align:center;
        }
table{border:2px solid black;
        margin-left:200px;
        margin-right:200px;
        border-collapse:collapse;
       width:54.5%;}
table,td,th{border:2px solid black}
.button{background-color:rgb(50, 248, 50);
padding:10px;
width:150px;
border-radius:4px;}
